body{
  background: #000428;  
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
    
}

.contenedor{
  position: relative;
  top: 100px;
}

.NombreUsuario{
  margin: 0 auto;
  margin-left: 30%;
}

.botonUsuario{
  margin-left: 35%;
  margin-bottom: 10%;
}

#contentWrap {
  display: none;
}

.error {
  color: red;
}

.whisper {
  color: gray;
  font-style: italic;
}
